<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Look Book - AVENUE FASHION</title>
    <link rel="stylesheet" href="../stylesheets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/global.css">
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="../stylesheets/the-brand.css">
    <link rel="stylesheet" href="../stylesheets/look-book.css">
</head>

<body>
    <header>
        <nav>
            <div class="top-nav">
                <div class="content">
                    <div class="option left">
                        Currency : GBP
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="option right space-left">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> empty
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="option right">
                        <a href="sign-up.html">Sign in</a>
                    </div>
                    <div class="option right">
                        <a href="sign-up.html">Register</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="bottom-nav">
                <div class="content">
                    <a href="../index.html" id="home-link">
                        <h1>AVENUE
                            <span>FASHION</span>
                        </h1>
                    </a>
                    <div class="right">
                        <div class="options">
                            <div class="option">
                                <a href="product-view.html">MENS</a>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                <div class="option-modal">
                                    <div class="more-links">
                                        <p>CASUALS</p>
                                        <a href="#">Jackets</a>
                                        <a href="#"> Hoodies &amp; Sweatshirts</a>
                                        <a href="#">Polo Shirts</a>
                                        <a href="#">Sportswear</a>
                                        <a href="#">Trousers &amp; Chinos</a>
                                        <a href="#">T-Shirts</a>
                                    </div>
                                    <div class="more-links">
                                        <p>FORMAL</p>
                                        <a href="#">Jackets</a>
                                        <a href="#">Shirts</a>
                                        <a href="#">Suits</a>
                                        <a href="#">Trousers</a>
                                    </div>
                                    <div class="advertisement">
                                        <strong>AUTUMAN SALE!</strong>
                                        <p>UP TO 50% OFF</p>
                                    </div>
                                </div>
                            </div>
                            <div class="option">
                                <a href="#">WOMENS</a>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                            <div class="option">
                                <a href="the-brand.html">THE BRAND</a>
                            </div>
                            <div class="option">
                                <a href="local-stores.html">LOCAL STORES</a>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                            <div class="option">
                                <a class="active" href="look-book.html">LOOK BOOK</a>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                <div class="option-modal">
                                    <div class="more-links">
                                        <p>OUR LOOKBOOKS</p>
                                        <a href="#">Latest Posts (mixed)</a>
                                        <a href="#">Men’s Lookbook</a>
                                        <a href="#">Women’s Lookbook</a>
                                    </div>
                                    <div class="more-links">
                                        <p>YOUR LOOKBOOK</p>
                                        <a href="#">View and Edit</a>
                                        <a href="#">Share</a>
                                        <a href="#">Delete</a>
                                    </div>
                                    <div class="advertisement">
                                        <strong>AUTUMAN SALE!</strong>
                                        <p>UP TO 50% OFF</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search">
                            <input id="search-box" type="text" placeholder="Search..">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </nav>
    </header>
    <main class="look-book">
        <section class="page-header">
            <div class="content">
                <h2>A V E</h2>
                <img class="cover" src="../images/the-brand/darken.png" alt="image header darken cover">
                <div class="page-name">
                    <h3>
                        <span>OUR</span> LOOKBOOK</h3>
                    <h4>LATEST POSTS - MENS &amp; WOMENS</h4>
                </div>
            </div>
        </section>
        <section class="catalog">
            <div class="content">
                <div class="sort">
                    <span class="active">LATEST</span>
                    <span>MOST LIKED</span>
                    <span>BEST SELLERS</span>
                    <span>PRICE LOW TO HIGH</span>
                    <span>PRICE HIGH TO LOW</span>
                </div>
                <div class="products">
                    <div class="product a">
                        <img src="../images/look-book/product-a.png" alt="product a">
                        <span class="tag">
                            <sup>ref</sup>M1</span>
                        <div class="actions">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            <i class="fa fa-gratipay" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="product b">
                        <img src="../images/look-book/product-b.png" alt="product b">
                        <span class="tag">
                            <sup>ref</sup>W1</span>
                        <div class="actions">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            <i class="fa fa-gratipay" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="product c">
                        <img src="../images/look-book/product-c.png" alt="product c">
                        <div class="desc">
                            <h5>
                                <strong>JAME'S</strong> LOOKBOOK</h5>
                            <h6>GET THE LOOK FOR UNDER £200!</h6>
                            <p>We invited actress Jane Marshall to join us for the day and choose her perfect outfit from our
                                vast range of womens fashion.</p>
                            <p>This is of course not true as this is just a design for a website and this is simply filler text.</p>
                            <button class="ave-btn">VIEW NOW</button>
                        </div>
                    </div>
                    <div class="product d">
                        <img src="../images/look-book/product-d.png" alt="product d">
                        <span class="tag">
                            <sup>ref</sup>MJ1</span>
                        <div class="actions">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            <i class="fa fa-gratipay" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="product e">
                        <img src="../images/look-book/product-e.png" alt="product e">
                        <span class="tag">
                            <sup>ref</sup>M2</span>
                        <div class="actions">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            <i class="fa fa-gratipay" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="product f">
                        <img src="../images/look-book/product-f.png" alt="product f">
                        <span class="tag">
                            <sup>ref</sup>W2</span>
                        <div class="actions">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            <i class="fa fa-gratipay" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="product g">
                        <img src="../images/look-book/product-g.png" alt="product g">
                        <span class="tag">
                            <sup>ref</sup>W3</span>
                        <div class="actions">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            <i class="fa fa-gratipay" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="product h">
                        <img src="../images/look-book/product-h.png" alt="product h">
                        <div class="desc">
                            <h5>
                                <strong>WIN</strong> A NEW LOOK!</h5>
                            <h6>ADD LOOKS OR ITEMS TO YOUR LOOKBOOK FOR A CHANCE OF WINNING</h6>
                            <p> See an item or a complete look you like, click the  button to add it to your lookbook and you’ll
                                be automatically entered to our monthly draw where one winner gets a
                                <strong>£300</strong> gift voucher to spend on our website!</p>
                            <p> Terms: No purchase necessary. Vouchers are non-transferable and no cash alternative is ofered.
                                Competition is for members only.</p>
                            <button class="ave-btn">SHOP NOW</button>
                        </div>
                        <div class="label">
                            <p>WIN</p>
                            <p>A NEW LOOK</p>
                        </div>
                    </div>
                    <div class="product i">
                        <img src="../images/look-book/product-i.png" alt="product i">
                        <span class="tag">
                            <sup>ref</sup>W4</span>
                        <div class="actions">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            <i class="fa fa-gratipay" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="lookbooks">
            <div class="content">
                <div class="lookbook">
                    <img src="../images/home/mens-lookbook.png" alt="men's lookbook">
                    <div class="info">
                        <strong>MEN'S</strong>
                        <span>LOOKBOOK</span>
                        <p>Lorem ipsum dolor sit amet eras facilisis consectetur adipiscing elit lor, integer lorem consecteur
                            dignissim laciniqui. Elementum metus facilisis ut phasellu.
                        </p>
                        <button class="ave-btn">VIEW NOW</button>
                    </div>
                </div>
                <div class="lookbook">
                    <img src="../images/home/womens-lookbook.png" alt="women's lookbook">
                    <div class="info">
                        <strong>WOMENS'S</strong>
                        <span>LOOKBOOK</span>
                        <p>Lorem ipsum dolor sit amet eras facilisis consectetur adipiscing elit lor, integer lorem consecteur
                            dignissim laciniqui. Elementum metus facilisis ut phasellu.
                        </p>
                        <button class="ave-btn">VIEW NOW</button>
                    </div>
                </div>
                <div class="lookbook">
                    <img src="../images/home/your-lookbook.png" alt="your lookbook">
                    <div class="info">
                        <strong>YOUR'S</strong>
                        <span>LOOKBOOK</span>
                        <p>Lorem ipsum dolor sit amet eras facilisis consectetur adipiscing elit lor, integer lorem consecteur
                            dignissim laciniqui. Elementum metus facilisis ut phasellu.
                        </p>
                        <button class="ave-btn">VIEW NOW</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="top-footer">
            <div class="content">
                <section class="more-links-container">
                    <div class="more-links">
                        <p>INFORMATION</p>
                        <a href="the-brand.html">The brand</a>
                        <a href="local-stores.html">Local stores</a>
                        <a href="#">Customer service</a>
                        <a href="#">Privacy &amp; cookies</a>
                        <a href="#">Site map</a>
                    </div>
                    <div class="more-links">
                        <p>WHY BUY FROM US</p>
                        <a href="#">Shipping &amp; returns</a>
                        <a href="#">Secure shopping</a>
                        <a href="#">Testimonials</a>
                        <a href="the-brand.html">Award winning</a>
                        <a href="the-brand.html">Ethical trading</a>
                    </div>
                    <div class="more-links">
                        <p>YOUR ACCOUNT</p>
                        <a href="sign-up.html">Sign in</a>
                        <a href="#">Register</a>
                        <a href="#">View cart</a>
                        <a href="#">View your lookbook</a>
                        <a href="#">Track an order</a>
                        <a href="#">Update information</a>
                    </div>
                    <div class="more-links">
                        <p>LOOKBOOK</p>
                        <a href="#">Latest posts</a>
                        <a href="#">Men’s lookbook</a>
                        <a href="#">Women’s lookbook</a>
                        <a href="#">Lookbooks RSS feed</a>
                        <a href="#">View your lookbook</a>
                        <a href="#">Delete your lookbook</a>
                    </div>
                    <div class="more-links">
                        <p>CONTACT DETAILS</p>
                        <span>Head Office: Avenue Fashion,
                            <br>180-182 Regent Street, London.</span>
                        <span>Telephone: 0123-456-789</span>
                        <span>Email: support@yourwebsite.com</span>
                    </div>
                </section>
                <section class="socials">
                    <div class="social">
                        <div class="inner-social">
                            <strong>AWARD WINNER</strong>
                            <p>FASHION AWARDS 2016</p>
                        </div>
                    </div>
                    <div class="social">
                        <div class="inner-social">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="content">
                <span>© 2016 Avenue Fashion™</span>
                <div class="right">
                    <span>Design by RobbyDesigns.com</span>
                    <span class="space-left">Dev by Yuval Gabain</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../javascripts/global.js"></script>

</body>

</html>