<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product View - AVENUE FASHION</title>
    <link rel="stylesheet" href="../stylesheets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/global.css">
    <link rel="stylesheet" href="../stylesheets/the-brand.css">
    <link rel="stylesheet" href="../stylesheets/product-view.css">
</head>

<body>
    <header>
        <nav>
            <div class="top-nav">
                <div class="content">
                    <div class="option left">
                        Currency : GBP
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="option right space-left">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> empty
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="option right">
                        <a href="sign-up.html">Sign in</a>
                    </div>
                    <div class="option right">
                        <a href="sign-up.html">Register</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="bottom-nav">
                <div class="content">
                    <a href="../index.html" id="home-link">
                        <h1>AVENUE FASHION</h1>
                    </a>
                    <div class="right">
                        <div class="options">
                            <div class="option">
                                <a class="active" href="product-view.html">MENS</a>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                <div class="option-modal">
                                    <div class="more-links">
                                        <p>CASUALS</p>
                                        <a href="#">Jackets</a>
                                        <a href="#"> Hoodies &amp; Sweatshirts</a>
                                        <a href="#">Polo Shirts</a>
                                        <a href="#">Sportswear</a>
                                        <a href="#">Trousers &amp; Chinos</a>
                                        <a href="#">T-Shirts</a>
                                    </div>
                                    <div class="more-links">
                                        <p>FORMAL</p>
                                        <a href="#">Jackets</a>
                                        <a href="#">Shirts</a>
                                        <a href="#">Suits</a>
                                        <a href="#">Trousers</a>
                                    </div>
                                    <div class="advertisement">
                                        <strong>AUTUMAN SALE!</strong>
                                        <p>UP TO 50% OFF</p>
                                    </div>
                                </div>
                            </div>
                            <div class="option">
                                <a href="#">WOMENS</a>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                            <div class="option">
                                <a href="the-brand.html">THE BRAND</a>
                            </div>
                            <div class="option">
                                <a href="local-stores.html">LOCAL STORES</a>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                            <div class="option">
                                <a href="look-book.html">LOOK BOOK</a>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                <div class="option-modal">
                                    <div class="more-links">
                                        <p>OUR LOOKBOOKS</p>
                                        <a href="#">Latest Posts (mixed)</a>
                                        <a href="#">Men’s Lookbook</a>
                                        <a href="#">Women’s Lookbook</a>
                                    </div>
                                    <div class="more-links">
                                        <p>YOUR LOOKBOOK</p>
                                        <a href="#">View and Edit</a>
                                        <a href="#">Share</a>
                                        <a href="#">Delete</a>
                                    </div>
                                    <div class="advertisement">
                                        <strong>AUTUMAN SALE!</strong>
                                        <p>UP TO 50% OFF</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search">
                            <input id="search-box" type="text" placeholder="Search..">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </nav>
    </header>
    <main class="product-view">
        <section class="page-header">
            <div class="content">
                <h2>A V E</h2>
                <img class="cover" src="../images/the-brand/darken.png" alt="image header darken cover">
                <div class="page-name">
                    <h3>
                        <span>PRODUCT</span> VIEWS</h3>
                    <h4>MENS - CASUALS - HOODIES &amp; SWEATSHIRTS -
                        <span>AVE CLASSIC SWEATSHIRT</span>
                    </h4>
                </div>
            </div>
        </section>
        <section class="the-product">
            <div class="content">
                <div class="slider">
                    <img src="../images/product-view/slider-demo.png" alt="slider demo">
                    <div class="actions next">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                    <div class="actions previous">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="purchase">
                    <h5>AVE CLASSIC SWEATSHIRT</h5>
                    <div class="reviews">
                        <span class="stars">
                            <i class="fa fa-star-o mark" aria-hidden="true"></i>
                            <i class="fa fa-star-o mark" aria-hidden="true"></i>
                            <i class="fa fa-star-o mark" aria-hidden="true"></i>
                            <i class="fa fa-star-o mark" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </span>
                        <span class="text">3 Review(s)</span>
                        <span class="text">|</span>
                        <span class="text add-review">Add a Review</span>
                        <span class="text">|</span>
                        <span class="text share">Share:</span>
                        <span class="icon">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </span>
                        <span class="icon">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </span>
                        <span class="icon">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </span>
                        <span class="icon">
                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                        </span>
                        <span class="icon">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </span>
                        <span class="icon">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="price">
                        <sup>£</sup>
                        <span>107</span>
                        <sup>£</sup>89.99
                    </div>
                    <div class="general-info">
                        <div>
                            <strong>AVAILABILITY: </strong>
                            <span>In stock</span>
                        </div>
                        <div>
                            <strong>PRODUCT CODE: </strong>
                            <span>#499577</span>
                        </div>
                        <div>
                            <strong>TAGS: </strong>
                            <span class="tag">Classic, Casual, V-neck, Loose</span>
                        </div>
                    </div>
                    <div class="specification">
                        <p>Donec sem lorem laoreet tempor un risus vitae, rutrum sodales nibh suspendisse est congue metus nunc,
                            id viverra elit loreti rhoncus quis consecteur es. Donec pulvinar tempor lorem a pretium justo
                            interdum.
                        </p>
                        <ul>
                            <li>Elasticated cuffs</li>
                            <li>Casual fit</li>
                            <li>100% Cotton</li>
                            <li>Free shipping with 4 days delivery</li>
                        </ul>
                    </div>
                    <div class="properties">
                        <div>
                            <p>COLOUR</p>
                            <select>
                                <option value="" disabled selected>Select Colour</option>
                                <option value="red">red</option>
                                <option value="blue">blue</option>
                                <option value="green">green</option>
                            </select>
                        </div>
                        <div>
                            <p>SIZE</p>
                            <select>
                                <option value="" disabled selected>Select Size</option>
                                <option value="1">S</option>
                                <option value="2">M</option>
                                <option value="3">L</option>
                            </select>
                        </div>
                        <div>
                            <p>QTY</p>
                            <input type="number" placeholder="1">
                        </div>
                    </div>
                    <div class="actions">
                        <button>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>ADD TO CART
                        </button>
                        <button>
                            <i class="fa fa-heart-o" aria-hidden="true"></i>ADD TO LOOKBOOK
                        </button>
                    </div>
                    <div class="compare">
                        <div>
                            <i class="fa fa-compress" aria-hidden="true"></i>
                        </div>
                        <span>ADD TO COMPARE</span>
                    </div>
                </div>
                <div class="desc">
                    <div class="tabs">
                        <div class="tab active">DESCRIPTION</div>
                        <div class="tab">VIDEO</div>
                        <div class="tab">SIZE &amp; SPECES</div>
                        <div class="tab">DELIVERY &amp; RETURNS</div>
                        <div class="tab">REVIEWS</div>
                    </div>
                    <h5>NUNC EGESTAS POSUERE ENIM, EU MAXIMUS ERAT POSUERE EGET</h5>
                    <p>Sed ut mi mollis, consequat nulla lacinia, hendrerit turpis. Nulla sapien magna, interdum quis pretium
                        nec, pharetra at felis. Curabitur dictum sapien est, eget ultricies turpis porta vel. Nam suscipit
                        nec lacus sed imperdiet. Vestibulum a purus risus. Nulla et dictum augue, nec efficitur mi. Nam sit
                        amet pretium elit. Aliquam congue, ligula id vehicula vestibulum, orci ex vulputate lacus, ac malesuada
                        elit dolor eget ex. Sed quis aliquet risus, ut cursus lectus. In eget lorem tellus.
                    </p>
                    <p>Quisque eleifend varius nisi nec sagittis. Nulla ullamcorper imperdiet justo, ut venenatis purus lobortis
                        ut. Nunc sagittis urna et hendrerit sodales. Nunc molestie risus nec fringilla lacinia. Nulla facilisi.
                        Etiam neque velit, tristique eget sollicitudin eget, placerat at metus. Proin dictum lobortis velit,
                        id suscipit orci faucibus ut. Aliquam erat volutpat. Vivamus feugiat justo in diam placerat, id dignissim
                        elit auctor. Vestibulum scelerisque sem et lobortis ultricies. Morbi suscipit nulla urna. Suspendisse
                        potenti. Nullam varius quam sed nisl dignissim, vel faucibus ipsum blandit. Vivamus at suscipit augue.
                        Nam finibus gravida lorem eu viverra. Praesent rhoncus imperdiet ultricies. Nullam pretium cursus
                        augue auctor vulputate. Quisque a convallis diam commodo eget diam id, eleifend dictum libero. Etiam
                        varius, nisi vel dignissim sodales, enim dui posuere mauris, in aliquet lorem eros eget neque.
                    </p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="top-footer">
            <div class="content">
                <section class="more-links-container">
                    <div class="more-links">
                        <p>INFORMATION</p>
                        <a href="the-brand.html">The brand</a>
                        <a href="local-stores.html">Local stores</a>
                        <a href="#">Customer service</a>
                        <a href="#">Privacy &amp; cookies</a>
                        <a href="#">Site map</a>
                    </div>
                    <div class="more-links">
                        <p>WHY BUY FROM US</p>
                        <a href="#">Shipping &amp; returns</a>
                        <a href="#">Secure shopping</a>
                        <a href="#">Testimonials</a>
                        <a href="the-brand.html">Award winning</a>
                        <a href="the-brand.html">Ethical trading</a>
                    </div>
                    <div class="more-links">
                        <p>YOUR ACCOUNT</p>
                        <a href="sign-up.html">Sign in</a>
                        <a href="#">Register</a>
                        <a href="#">View cart</a>
                        <a href="#">View your lookbook</a>
                        <a href="#">Track an order</a>
                        <a href="#">Update information</a>
                    </div>
                    <div class="more-links">
                        <p>LOOKBOOK</p>
                        <a href="#">Latest posts</a>
                        <a href="#">Men’s lookbook</a>
                        <a href="#">Women’s lookbook</a>
                        <a href="#">Lookbooks RSS feed</a>
                        <a href="#">View your lookbook</a>
                        <a href="#">Delete your lookbook</a>
                    </div>
                    <div class="more-links">
                        <p>CONTACT DETAILS</p>
                        <span>Head Office: Avenue Fashion,
                            <br>180-182 Regent Street, London.</span>
                        <span>Telephone: 0123-456-789</span>
                        <span>Email: support@yourwebsite.com</span>
                    </div>
                </section>
                <section class="socials">
                    <div class="social">
                        <div class="inner-social">
                            <strong>AWARD WINNER</strong>
                            <p>FASHION AWARDS 2016</p>
                        </div>
                    </div>
                    <div class="social">
                        <div class="inner-social">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="content">
                <span>© 2016 Avenue Fashion™</span>
                <div class="right">
                    <span>Design by RobbyDesigns.com</span>
                    <span class="space-left">Dev by Yuval Gabain</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </footer>
</body>

</html>