<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Brand - AVENUE FASHION</title>
    <link rel="stylesheet" href="../stylesheets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/global.css">
    <link rel="stylesheet" href="../stylesheets/the-brand.css">
</head>

<body>
    <header>
        <nav>
            <div class="top-nav">
                <div class="content">
                    <div class="option left">
                        Currency : GBP
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="option right space-left">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> empty
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="option right">Sign in</div>
                    <div class="option right">Register</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="bottom-nav">
                <div class="content">
                    <a href="../index.html" id="home-link">
                        <h1>AVENUE FASHION</h1>
                    </a>
                    <div class="right">
                        <div class="options">
                            <div class="option">
                                <a href="#">MENS</a>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                <div class="option-modal">
                                    <div class="more-links">
                                        <p>CASUALS</p>
                                        <a href="#">Jackets</a>
                                        <a href="#"> Hoodies & Sweatshirts</a>
                                        <a href="#">Polo Shirts</a>
                                        <a href="#">Sportswear</a>
                                        <a href="#">Trousers & Chinos</a>
                                        <a href="#">T-Shirts</a>
                                    </div>
                                    <div class="more-links">
                                        <p>FORMAL</p>
                                        <a href="#">Jackets</a>
                                        <a href="#">Shirts</a>
                                        <a href="#">Suits</a>
                                        <a href="#">Trousers</a>
                                    </div>
                                    <div class="advertisement">
                                        <strong>AUTUMAN SALE!</strong>
                                        <p>UP TO 50% OFF</p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="option">
                                <a href="#">WOMENS</a>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                            <div class="option">
                                <a class="active" href="the-brand.html">THE BRAND</a>
                            </div>
                            <div class="option">
                                <a href="local-stores.html">LOCAL STORES</a>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                            <div class="option">
                                <a href="look-book.html">LOOK BOOK</a>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                <div class="option-modal">
                                    <div class="more-links">
                                        <p>OUR LOOKBOOKS</p>
                                        <a href="#">Latest Posts (mixed)</a>
                                        <a href="#">Men’s Lookbook</a>
                                        <a href="#">Women’s Lookbook</a>
                                    </div>
                                    <div class="more-links">
                                        <p>YOUR LOOKBOOK</p>
                                        <a href="#">View and Edit</a>
                                        <a href="#">Share</a>
                                        <a href="#">Delete</a>
                                    </div>
                                    <div class="advertisement">
                                        <strong>AUTUMAN SALE!</strong>
                                        <p>UP TO 50% OFF</p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search">
                            <input id="search-box" type="text" placeholder="Search..">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </nav>
    </header>
    <main class="the-brand">
        <section class="page-header">
            <div class="content">
                <h2>A V E</h2>
                <img class="cover" src="../images/the-brand/darken.png" alt="image header darken cover">
                <div class="page-name">
                    <h3><span>THE</span> BRAND</h3>
                    <h4>COMPANY SLOGAN GOES HERE</h4>
                </div>
            </div>
        </section>
        <section class="info">
            <div class="content">
                <div class="area">
                    <div class="part a">
                        <img src="../images/the-brand/part-a-pic.png" alt="part a image">
                    </div>
                    <div class="part b">
                        <img src="../images/the-brand/part-b-pic.png" alt="part b image">
                    </div>
                    <div class="part c">
                        <h5>OUR VALUES, VISION AND STRATEGY</h5>
                        <h6>THE ABOVE IMAGE WOULD BE A GREAT PLACE FOR AN ADVERTISING VIDEO</h6>
                        <p>Cras maximus venenatis malesuada. Nulla sagittis elit felis, ac facilisis quam ornare aliquam. Etiam
                            cursus odio vitae dui dignissim, sed tempus lacus tincidunt et donec sapien velit, rhoncus eu
                            nulla a, molestie tempus mi maecenas sagittis ornare. Pellentesque sapien mi, <a href="#">tincidunt nec magna
                            vitae</a>, volutpat elementum odioni lorem Aliquam tempor massa vitae augue mattis tempor id
                            in ante ut augue erat, luctus eil.
                        </p>
                    </div>
                </div>
                <div class="area">
                    <div class="part d">
                        <h5>HAND DESIGNED CLOTHING</h5>
                        <h6>ESTABLISHED IN 2013, AVENUE FASHION SED DICTUM ELIT VEL SAPIEN LUCTUS ERAS</h6>
                        <p>Praesent feugiat malesuada tristique maecenas rhoncus diam eget quam vestibulim consectetur, id condimentum
                            leo porttitor. Cum sociis natoque penatibus eta magnis disut parturient montes, nascetur ridiculus
                            mus. Donec sem lorem laoreet tempor un risus vitae, rutrum sodales nibh suspendisse congue metus
                            nunc, id viverra elit loreti rhoncus quis consecteur es. Donec pulvinar tempor lorem a pretium
                            justo interdum.
                        </p>
                    </div>
                    <div class="part e">
                        <img src="../images/the-brand/part-e-pic.png" alt="part e image">
                    </div>
                    <div class="part f">
                        <h5>ETHICAL TRADING</h5>
                        <h6>WE OVERSEE THE WORKING CONDITIONS OF THE PEOPLE IN THE SUPPLY CHAIN</h6>
                        <p>Nullam dapibus consectetur neque, faucibus porttitor purus iaculis sed. Aenean eras dapibus augue,
                            eget dignissim dui maecenas et rhoncus mim, vel semper arcu lorem Pellentesque congue justo esteir
                            pellentesque aliquet massa eget posuere tincidunt. Cras viverra ullamcorper nunc accumsan hendrerit.
                            <a href="#">A link <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </p>
                    </div>
                    <div class="part g">
                        <img src="../images/the-brand/logos1.png" alt="the brand logos 1">
                        <img src="../images/the-brand/logos2.png" alt="the brand logos 2">
                        <img src="../images/the-brand/logos3.png" alt="the brand logos 3">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="top-footer">
            <div class="content">
                <section class="more-links-container">
                    <div class="more-links">
                        <p>INFORMATION</p>
                        <a class="active" href="the-brand.html">The brand</a>
                        <a href="local-stores.html">Local stores</a>
                        <a href="#">Customer service</a>
                        <a href="#">Privacy & cookies</a>
                        <a href="#">Site map</a>
                    </div>
                    <div class="more-links">
                        <p>WHY BUY FROM US</p>
                        <a href="#">Shipping & returns</a>
                        <a href="#">Secure shopping</a>
                        <a href="#">Testimonials</a>
                        <a class="active" href="the-brand.html">Award winning</a>
                        <a class="active" href="the-brand.html">Ethical trading</a>
                    </div>
                    <div class="more-links">
                        <p>YOUR ACCOUNT</p>
                        <a href="#">Sign in</a>
                        <a href="#">Register</a>
                        <a href="#">View cart</a>
                        <a href="#">View your lookbook</a>
                        <a href="#">Track an order</a>
                        <a href="#">Update information</a>
                    </div>
                    <div class="more-links">
                        <p>LOOKBOOK</p>
                        <a href="#">Latest posts</a>
                        <a href="#">Men’s lookbook</a>
                        <a href="#">Women’s lookbook</a>
                        <a href="#">Lookbooks RSS feed</a>
                        <a href="#">View your lookbook</a>
                        <a href="#">Delete your lookbook</a>
                    </div>
                    <div class="more-links">
                        <p>CONTACT DETAILS</p>
                        <span>Head Office: Avenue Fashion,<br>180-182 Regent Street, London.</span>
                        <span>Telephone: 0123-456-789</span>
                        <span>Email: support@yourwebsite.com</span>
                    </div>
                </section>
                <section class="socials">
                    <div class="social">
                        <div class="inner-social">
                            <strong>AWARD WINNER</strong>
                            <p>FASHION AWARDS 2016</p>
                        </div>
                    </div>
                    <div class="social">
                        <div class="inner-social">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="content">
                <span>© 2016 Avenue Fashion™</span>
                <div class="right">
                    <span>Design by RobbyDesigns.com</span>
                    <span class="space-left">Dev by Yuval Gabain</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </footer>
</body>

</html>