.home-header {
  background-color: #f8f8f8;
  margin-bottom: 60px;
}

.home-header .content {
  position: relative;
  max-width: 1545px;
  padding: 0px 5px;
}

.home-header h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 45em;
  text-align: center;
  color: #575153;
  z-index: 2;
}

.home-header img {
  margin-left: 15%;
  max-width: 100%;
}

.home-header .ave-btn {
  position: absolute;
  bottom: 12%;
  right: 16%;
}

.gallary .content {
  max-width: 1770px;
  padding: 50px 5px 60px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 60px;
}

.gallary .options span {
  margin-right: 50px;
  cursor: pointer;
  color: #727272;
  font-size: 1.3em;
  transition: color 700ms;
}

.gallary .options span:hover,
.gallary .options span.active {
  color: #00c8c8;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 55px;
}

.item {
  position: relative;
  /* transition: box-shadow 700ms; */
}

.item:hover {
  box-shadow: 0px -2px 14px rgba(0, 0, 0, 0.14);
}

.item img {
  width: 100%;
}

.items-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.item.c {
  grid-column: 1 / 3;
}

.item.d {
  grid-column: 1 / 3;
}

.item .more-info {
  display: none;
  position: absolute;
  width: 100%;
  background-color: white;
  padding: 20px 50px;
  text-align: center;
  /* transition: box-shadow 700ms; */
  z-index: 1;
}

.item:hover .more-info {
  display: block;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.14);
}

.more-info strong {
  font-size: 1.3em;
  color: #727272;
}

.more-info p {
  font-size: 1.5em;
  color: #8e8c8c;
  margin-top: 20px;
  margin-bottom: 14px;
}

.more-info .more-icons .icon {
  display: inline-block;
  border-radius: 50%;
  background-color: #727272;
  padding: 8px;
  margin-right: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 700ms;
}

.more-info .more-icons .icon:hover {
  background-color: #00c8c8;
}

.more-info .more-icons .fa {
  font-size: 1.8em;
}

.item .price {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #9a9a9a;
  font-size: 2.1em;
}

.item .fa-info-circle {
  position: absolute;
  font-size: 4.8em;
  color: white;
  top: 60%;
  left: 44%;
}

.item .small-imgs {
  position: absolute;
  top: 15px;
  right: 15px;
}

.item .small-imgs .img-box:nth-child(1) {
  margin-bottom: 15px;
}

.item.d .price span {
  text-decoration: line-through;
}

@media screen and (max-width: 1200px) {
  .home-header h2 {
    font-size: 29.13vw;
  }

  .home-header img {
    margin: 0;
  }
}

@media screen and (max-width: 1000px) {
  .items {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 640px) {
  .items-box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .item.c {
    grid-column: 1 / 1;
  }

  .item.d {
    grid-column: 1 / 1;
  }
}
