.page-header {
  margin-bottom: 65px;
}

.catalog .content {
  max-width: 1780px;
  padding: 50px 5px 60px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 60px;
}

.sort {
  margin-bottom: 58px;
}

.sort span {
  color: #727272;
  font-size: 1.3em;
  margin-right: 50px;
  cursor: pointer;
  transition: color 700ms;
}

.sort span:hover,
.sort span.active {
  color: #00c8c8;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}

.product {
  position: relative;
  background-color: #f8f8f8;
}

.product.c,
.product.h {
  background-color: #f0f0ee;
}

.product:hover {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
}

.product img {
  width: 100%;
}

.product.c {
  grid-column: 3 / 5;
}

.product.h {
  grid-column: 1 / 4;
}

.product .tag {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #9a9a9a;
  font-size: 2.1em;
}

@media screen and (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .product.c {
    grid-column: 1 / 3;
  }

  .product.h {
    grid-column: 1 / 3;
  }
}

@media screen and (max-width: 640px) {
  .products {
    grid-template-columns: 1fr;
  }

  .product.c {
    grid-column: 1 / 2;
  }

  .product.h {
    grid-column: 1 / 2;
  }
}
